#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
DEB_INST := debian/river
%:
	dh $@

override_dh_auto_install:
	zig libc > libc.txt
	XDG_CACHE_HOME= DESTDIR=$(DEB_INST) zig build -Dxwayland -Dpie -Drelease-safe -Dtarget=$(DEB_HOST_MULTIARCH) -Dcpu=baseline --libc libc.txt --prefix /usr install
	install -pD -m 0664 -t $(DEB_INST)/usr/share/wayland-sessions/  contrib/river.desktop
	install -pD -m 0644 -t $(DEB_INST)/usr/share/doc/river/ README.md
	install -pD -m 0775 -t $(DEB_INST)/usr/share/doc/river/example/ example/init
	install -pD -m 0644 -t $(DEB_INST)/usr/share/river-protocols/ protocol/river-control-unstable-v1.xml
	install -pD -m 0644 -t $(DEB_INST)/usr/share/river-protocols/ protocol/river-status-unstable-v1.xml
	mv $(DEB_INST)/usr/share/zsh/site-functions $(DEB_INST)/usr/share/zsh/vendor-completions

override_dh_auto_clean:
	dh_auto_clean
	\rm -rf zig-cache zig-out doc/*.1 libc.txt
